<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Search Member'"
        [items]="[]"
        [active_item]="'Dashboad'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <!-- <div class="header">
            <h2>Reactive Forms (Outline)</h2>
          </div> -->
          <div class="body">
            <form
              class="register-form m-4"
              [formGroup]="search"
              (ngSubmit)="onSearch()"
              #f="ngForm"
            >
              <div class="row">
                <!-- account number -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Account No. </mat-label>
                    <input matInput formControlName="patientId" />
                    <mat-icon matSuffix>face </mat-icon>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>First name </mat-label>
                    <input matInput formControlName="firstName" required />
                    <mat-icon matSuffix>face </mat-icon>
                    <mat-error
                      *ngIf="search.get('firstName').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Middle name </mat-label>
                    <input matInput formControlName="middleName" />
                    <mat-icon matSuffix>face </mat-icon>
                    <mat-error
                      *ngIf="search.get('middleName').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Last name </mat-label>
                    <input matInput formControlName="lastname" />
                    <mat-icon matSuffix>face </mat-icon>
                    <mat-error
                      *ngIf="search.get('lastname').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Date of Birth</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dateOfBirth"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      *ngIf="search.get('dateOfBirth').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Contact Number</mat-label>

                    <input
                      matInput
                      placeholder="EX: (435) 345 34 54"
                      prefix="+91 "
                      mask="(000) 000 00 00"
                      formControlName="contactNo"
                    />
                    <mat-icon class="msr-2" matSuffix>phone</mat-icon>
                    <mat-error
                      *ngIf="search.get('contactNo').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <button
                    class="btn-space"
                    [disabled]="!search.valid"
                    mat-raised-button
                    color="primary"
                  >
                    Search
                  </button>
                </div>
              </div>
              <!-- <div class="row">
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Response</h2>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="header-dropdown"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Parient Name</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Age</th>
                    <th>Contact</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of members">
                    <td class="table-img">
                      {{ member.patientID }}
                    </td>
                    <td>{{ member.firstName }}</td>
                    <td class="text-truncate">
                      {{ member.gender }}
                    </td>
                    <td>{{ member.dateOfBirth | date: "dd-MM-yy" }}</td>
                    <td>
                      {{ member.age }}
                    </td>
                    <td>{{ member.contactNo }}</td>
                    <td>
                      <button mat-icon-button class="tbl-action-btn">
                        <a>
                          <app-feather-icons
                            [icon]="'edit'"
                            [class]="'tbl-fav-edit'"
                          ></app-feather-icons
                        ></a>
                      </button>
                      <button mat-icon-button class="tbl-action-btn">
                        <app-feather-icons
                          [icon]="'edit'"
                          [class]="'tbl-fav-edit'"
                        ></app-feather-icons>
                      </button>
                      <button mat-icon-button class="tbl-action-btn">
                        <app-feather-icons
                          [icon]="'edit'"
                          [class]="'tbl-fav-edit'"
                        ></app-feather-icons>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="!isMember" style="text-align: center">
                    <td colspan="7">Members Data is not available.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
