<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Search Member'"
        [items]="[]"
        [active_item]="'Dashboad'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form
              class="register-form m-4"
              [formGroup]="search"
              (ngSubmit)="onSearch()"
              #f="ngForm"
            >
              <div class="row">
                <!-- account number -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Account No. </mat-label>
                    <input
                      matInput
                      formControlName="patientId"
                      min="0"
                      type="number"
                    />
                    <mat-icon matSuffix>face </mat-icon>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>First name </mat-label>
                    <input matInput formControlName="firstName" />
                    <mat-icon matSuffix>face </mat-icon>
                    <mat-error
                      *ngIf="search.get('firstName').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Middle name </mat-label>
                    <input matInput formControlName="middleName" />
                    <mat-icon matSuffix>face </mat-icon>
                    <mat-error
                      *ngIf="search.get('middleName').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Last name </mat-label>
                    <input matInput formControlName="lastname" />
                    <mat-icon matSuffix>face </mat-icon>
                    <mat-error
                      *ngIf="search.get('lastname').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Date of Birth</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dateOfBirth"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      *ngIf="search.get('dateOfBirth').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Contact Number</mat-label>

                    <input matInput formControlName="contactNo" />
                    <mat-icon class="msr-2" matSuffix>phone</mat-icon>
                    <mat-error
                      *ngIf="search.get('contactNo').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  &nbsp;
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  &nbsp;
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2 text-end">
                  <button class="btn-space" mat-raised-button color="primary">
                    Search
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Response</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Parient Name</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Age</th>
                    <th>Contact</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of members">
                    <td class="table-img">
                      {{ member.patientID }}
                    </td>
                    <td>{{ member.firstName }} {{ member.lastname }}</td>
                    <td class="text-truncate">
                      {{ member.gender }}
                    </td>
                    <td>{{ member.dateOfBirth | date: "MM/dd/yyyy" }}</td>
                    <td>
                      {{ member.age }}
                    </td>
                    <td>{{ member.contactNo }}</td>
                    <td class="action_wrapp">
                      <a
                        class="btn-style"
                        [routerLink]="[
                          '/admin/dashboard/assigned-benefit-plan'
                        ]"
                        ><app-feather-icons
                          [icon]="'plus'"
                          [class]="'tbl-fav-plus'"
                        ></app-feather-icons
                      ></a>
                      <a
                        class="btn-style"
                        [routerLink]="[
                          '/admin/dashboard/membersummary',
                          member.patientID
                        ]"
                        ><app-feather-icons
                          [icon]="'eye'"
                          [class]="'tbl-fav-eye'"
                        ></app-feather-icons
                      ></a>
                    </td>
                  </tr>
                  <tr *ngIf="!isMember" style="text-align: center">
                    <td colspan="7">Members Data is not available.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  a.btn-style {
    margin-right: 10px;
    font-size: 12px !important;
  }
</style>
