<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Assigned Benefit Plan'"
        [items]="[]"
        [active_item]="'Dashboard'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-statistic-2">
          <div class="body">
            <div class="tableBody">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Member Name</th>
                      <th>Adddress</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Country</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="table-img">
                        <img src="assets/images/user/user1.jpg" alt="" />
                        <!-- {{ member | json }} -->
                      </td>
                      <td>
                        {{ member.personal.firstName }}
                        {{ member.personal.lastname }}
                      </td>
                      <td>
                        {{ member.address.address1 }}
                        {{ member.address.address2 }}
                      </td>
                      <td>{{ member.address.city }}</td>
                      <td>
                        {{ member.address.state }}
                      </td>
                      <td>
                        {{ member.address.country }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="header">
              <h2>Assigned Benefit Plan</h2>
            </div>
            <form
              class="register-form m-4"
              [formGroup]="assignbenefitplan"
              (ngSubmit)="onAssignBenefit()"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Select Benefit Plan</mat-label>
                    <mat-select formControlName="planDuration">
                      <!-- {{ listplans | json }} -->
                      <mat-option
                        *ngFor="let Category of responsedata.data.value"
                        [value]="Category.insuranceInfoId"
                        >{{ Category.planName }}
                      </mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <button
                    type="submit"
                    class="btn-space"
                    mat-raised-button
                    color="primary"
                  >
                    Assign Benefit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
