<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Member Summary'"
        [items]="[]"
        [active_item]="'Dashboard'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-statistic-2">
          <div class="body">
            <div class="header"></div>
            <div class="info-box-wrapp">
              <h5 class="info-box-title">Personal Details</h5>
              <table class="table blank-table">
                <tbody>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                  </tr>
                  <tr>
                    <td>{{ member.personal.firstName }}</td>
                    <td>{{ member.personal.middleName }}</td>
                    <td>{{ member.personal.lastname }}</td>
                    <td>{{ member.personal.age }}</td>
                  </tr>
                  <tr>
                    <th scope="col">Gender</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact Number</th>
                  </tr>
                  <tr>
                    <td>{{ member.personal.gender }}</td>
                    <td>
                      {{ member.personal.dateOfBirth | date: "MM/dd/yyyy" }}
                    </td>
                    <td>{{ member.personal.email }}</td>
                    <td>{{ member.personal.contactNo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="info-box-wrapp">
              <h5 class="info-box-title">Address Details</h5>
              <table class="table blank-table">
                <tbody>
                  <tr>
                    <th scope="col">Address 1</th>
                    <th scope="col">Address 2</th>
                    <th scope="col">Country</th>
                    <th scope="col">State</th>
                  </tr>
                  <tr>
                    <td>{{ member.address.address1 }}</td>
                    <td>{{ member.address.address2 }}</td>
                    <td>{{ member.address.country }}</td>
                    <td>{{ member.address.state }}</td>
                  </tr>
                  <tr>
                    <th scope="col">City</th>
                    <th scope="col">Zipcode</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                  <tr>
                    <td>{{ member.address.city }}</td>
                    <td>{{ member.address.zipCode }}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Assigned Benefit Plans</h2>
          </div>
          <div class="body">
            <div class="tableBody">
              <div class="table-responsive">
                <!-- {{ benefit.data | json }} -->

                <table class="table table-hover available-benefit">
                  <thead>
                    <tr>
                      <th>Company Name</th>
                      <th>Plan Name</th>
                      <th>Insurance Type</th>
                      <th>Term</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="datalist === true">
                      <td colspan="8" style="text-align: center">
                        Benefit plan not assigned. Click
                        <a
                          [routerLink]="[
                            '/admin/dashboard/assigned-benefit-plan',
                            member.personal.patientID
                          ]"
                          >here</a
                        >
                        to assign benefit plan
                      </td>
                    </tr>
                    <tr *ngFor="let benefit of member.benfitPlanList.data">
                      <td>{{ benefit.companyName }}</td>
                      <td>{{ benefit.planName }}</td>
                      <td>{{ benefit.insuranceType }}</td>
                      <td>{{ benefit.term }}</td>
                      <td>{{ benefit.startDate | date: "MM/dd/yyyy" }}</td>
                      <td>{{ benefit.endDate | date: "MM/dd/yyyy" }}</td>
                      <td>
                        {{ benefit.isActive === 0 ? "Active" : "Terminate" }}
                      </td>
                      <td>
                        <button mat-icon-button class="tbl-action-btn">
                          <app-feather-icons
                            [icon]="'edit'"
                            [class]="'tbl-fav-edit'"
                            (click)="onEditClick(member, scroll(target))"
                          ></app-feather-icons>
                        </button>
                        <button mat-icon-button class="tbl-action-btn">
                          <app-feather-icons
                            mat-button
                            [icon]="'x-square'"
                            [class]="'tbl-fav-x-square'"
                            (click)="openDialog()"
                          ></app-feather-icons>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .content_wrapp h5.card-title {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-weight: 600;
  }
  .card.content_wrapp .card-body {
    padding: 30px;
  }
  sup.require {
    color: #da1c1c;
    font-size: 16px;
    top: -3px;
  }
  .display-block {
    display: block;
  }
  .btn-blue {
    background: #33ccad;
    border-radius: 5px;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 16px;
  }
  .form-control {
    height: 50px;
  }
  .form-control,
  label,
  textarea {
    font-family: "Nunito";
  }
  .form-row {
    margin-bottom: 10px;
  }
  h4.result-wrapp-title {
    background: #33ccad;
    padding: 10px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 16px;
  }

  h4.form-section-title {
    background: #33ccad;
    padding: 10px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 16px;
  }
  h3.page-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  h3.page-title span {
    margin-right: 6px;
    background: rgb(84, 212, 186);
    background: linear-gradient(
      90deg,
      rgba(84, 212, 186, 1) 0%,
      rgba(68, 228, 196, 1) 100%
    );
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    position: relative;
    top: -2px;
  }
  .info-box-wrapp {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    background: #fff;
  }
  .info-box-wrapp h5.info-box-title {
    display: inline-block;
    background: #f0f3fb;
    position: absolute;
    top: -23px;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #444;
  }
  .blank-table th,
  .blank-table td {
    border: none;
    text-align: center;
  }
  .blank-table th {
    color: #444;
    font-weight: 500;
  }
  .blank-table td {
    color: #555;
  }
  #topnav.active {
    width: 100%;
    margin-left: 0;
  }
  .btn-menu {
    border: none;
    color: #9c9fa6;
    font-size: 20px;
    font-weight: bold;
  }
  a.nav-link.account-link {
    color: #000 !important;
    font-size: 14px;
  }
  .page-content {
    background: #ebfaf7;
    height: 99vh;
  }

  .ng-invalid.ng-touched {
    border-color: red;
  }
  .error-block {
    font-size: 14px;
    margin-top: 5px;
    color: red;
  }
  i-feather.tbl-fav-x-square {
    width: 20px;
    height: 20px;
    color: red;
  }
</style>
