<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Member Summary'"
        [items]="[]"
        [active_item]="'Dashboad'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-statistic-2">
          <div class="body">
            <div class="header">
              <h2>Available Benefit Plans</h2>
            </div>
            {{ member | json }}
            <div class="info-box-wrapp">
              <h5 class="info-box-title">Personal Details</h5>
              <table class="table blank-table">
                <tbody>
                  <tr>
                    <th scope="col">Member Name</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Address</th>
                  </tr>
                  <tr>
                    <td>Steve William</td>
                    <td>12348765</td>
                    <td>12/09/1996</td>
                    <td>10 A, 1 4th C St</td>
                  </tr>
                  <tr>
                    <th scope="col">Country</th>
                    <th scope="col">State</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip Code</th>
                  </tr>
                  <tr>
                    <td>USA</td>
                    <td>NC</td>
                    <td>Marion</td>
                    <td>28752</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="info-box-wrapp">
              <h5 class="info-box-title">Address Details</h5>
              <table class="table blank-table">
                <tbody>
                  <tr>
                    <th scope="col">Member Name</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Address</th>
                  </tr>
                  <tr>
                    <td>Steve William</td>
                    <td>12348765</td>
                    <td>12/09/1996</td>
                    <td>10 A, 1 4th C St</td>
                  </tr>
                  <tr>
                    <th scope="col">Country</th>
                    <th scope="col">State</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip Code</th>
                  </tr>
                  <tr>
                    <td>USA</td>
                    <td>NC</td>
                    <td>Marion</td>
                    <td>28752</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="info-box-wrapp">
              <h5 class="info-box-title">Insurance Information</h5>
              <table class="table blank-table">
                <tbody>
                  <tr>
                    <th scope="col">Insurance Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                  </tr>
                  <tr>
                    <td>CIGNA</td>
                    <td>10 A, 1 4th C St</td>
                    <td>Marion</td>
                    <td>NC</td>
                  </tr>
                  <tr>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Payer ID</th>
                    <th scope="col">Plan/Product Name</th>
                    <th scope="col">Coverage Phone</th>
                  </tr>
                  <tr>
                    <td>28752</td>
                    <td>62308</td>
                    <td>CIGNA PPO</td>
                    <td>9888034520</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .content_wrapp h5.card-title {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-weight: 600;
  }
  .card.content_wrapp .card-body {
    padding: 30px;
  }
  sup.require {
    color: #da1c1c;
    font-size: 16px;
    top: -3px;
  }
  .display-block {
    display: block;
  }
  .btn-blue {
    background: #33ccad;
    border-radius: 5px;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 16px;
  }
  .form-control {
    height: 50px;
  }
  .form-control,
  label,
  textarea {
    font-family: "Nunito";
  }
  .form-row {
    margin-bottom: 10px;
  }
  h4.result-wrapp-title {
    background: #33ccad;
    padding: 10px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 16px;
  }

  h4.form-section-title {
    background: #33ccad;
    padding: 10px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 16px;
  }
  h3.page-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  h3.page-title span {
    margin-right: 6px;
    background: rgb(84, 212, 186);
    background: linear-gradient(
      90deg,
      rgba(84, 212, 186, 1) 0%,
      rgba(68, 228, 196, 1) 100%
    );
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    position: relative;
    top: -2px;
  }
  .info-box-wrapp {
    border: 1px solid #fd7e14;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    background: #fff;
  }
  .info-box-wrapp h5.info-box-title {
    display: inline-block;
    background: #fd7e14;
    position: absolute;
    top: -23px;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
  }
  .blank-table th,
  .blank-table td {
    border: none;
    text-align: center;
  }
  .blank-table th {
    color: #444;
    font-weight: 500;
  }
  .blank-table td {
    color: #555;
  }
  #topnav.active {
    width: 100%;
    margin-left: 0;
  }
  .btn-menu {
    border: none;
    color: #9c9fa6;
    font-size: 20px;
    font-weight: bold;
  }
  a.nav-link.account-link {
    color: #000 !important;
    font-size: 14px;
  }
  .page-content {
    background: #ebfaf7;
    height: 99vh;
  }

  .ng-invalid.ng-touched {
    border-color: red;
  }
  .error-block {
    font-size: 14px;
    margin-top: 5px;
    color: red;
  }
</style>
