<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Benefit Plan'"
        [items]="[]"
        [active_item]="'Dashboard'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row clearfix" #target>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Benefit Plan</h2>
          </div>
          <div class="body">
            <form
              class="register-form m-4"
              [formGroup]="addbenefitplan"
              (ngSubmit)="onRegister(addbenefitplan, formDirective)"
              #formDirective="ngForm"
            >
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Company name </mat-label>
                    <input matInput formControlName="companyName" required />
                    <mat-icon matSuffix>location_city </mat-icon>
                    <mat-error
                      *ngIf="
                        addbenefitplan.get('companyName').hasError('required')
                      "
                    >
                      Company Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Plan name </mat-label>
                    <input matInput formControlName="planName" />
                    <mat-icon matSuffix>view_list </mat-icon>
                    <mat-error
                      *ngIf="
                        addbenefitplan.get('planName').hasError('required')
                      "
                    >
                      Company Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Insurance Type </mat-label>
                    <mat-select formControlName="insuranceType">
                      <mat-option
                        *ngFor="let insurance of insurance"
                        value="{{ insurance }}"
                        >{{ insurance }}</mat-option
                      >
                    </mat-select>
                    <mat-icon matSuffix>featured_play_list </mat-icon>
                    <mat-error
                      *ngIf="
                        addbenefitplan.get('insuranceType').hasError('required')
                      "
                    >
                      Plan name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Plan Duration Number</mat-label>
                    <mat-select formControlName="planDuration">
                      <mat-option
                        [value]="i"
                        *ngFor="let i of plandurationnumber"
                        (click)="calculateDate()"
                        >{{ i }}</mat-option
                      >
                    </mat-select>
                    <mat-icon matSuffix>format_list_numbered </mat-icon>
                    <mat-error
                      *ngIf="
                        addbenefitplan.get('planDuration').hasError('required')
                      "
                    >
                      Plan Duration is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Start Date</mat-label>
                    <input
                      matInput
                      [min]="todayDate"
                      [matDatepicker]="startdate"
                      formControlName="planStartDate"
                      (dateChange)="calculateDate()"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="startdate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #startdate></mat-datepicker>
                    <mat-error
                      *ngIf="
                        addbenefitplan.get('planStartDate').hasError('required')
                      "
                    >
                      Start Date is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>End Date</mat-label>
                    <input
                      matInput
                      [min]="todayDate"
                      [matDatepicker]="enddate"
                      formControlName="planEndDate"
                      [ngModel]="calculatedEndDate"
                      [disabled]="isEndDateAvailable"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="enddate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #enddate></mat-datepicker>
                    <mat-error
                      *ngIf="
                        addbenefitplan.get('planEndDate').hasError('required')
                      "
                    >
                      End Date is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <label class="example-margin">Is Active</label>
                  <mat-radio-group formControlName="isAcive">
                    <mat-radio-button
                      class="example-margin"
                      name="isAcive"
                      checked
                      value="true"
                      [checked]="true"
                      >Yes</mat-radio-button
                    >
                    <mat-radio-button
                      class="example-margin"
                      name="isActive"
                      value="false"
                      >No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <!-- <mat-icon matSuffix>description</mat-icon> -->
                    <!-- <mat-error
                      *ngIf="
                        addbenefitplan.get('description').hasError('required')
                      "
                    >
                      Description is required
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                  <button
                    type="submit"
                    class="btn-space"
                    mat-raised-button
                    color="primary"
                    [disabled]="isEdit ? false : !addbenefitplan.valid"
                  >
                    {{ isEdit ? "Update Benefit" : "Add Benefit" }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Available Benefit Plans</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <!-- {{ benefit.data | json }} -->

              <table class="table table-hover addbenefitplan">
                <thead>
                  <tr>
                    <th>Company Name</th>
                    <th>Plan Name</th>
                    <th>Insurance Type</th>
                    <th>Plan Duration</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Is Active</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of benefit.data">
                    <td class="table-img">
                      {{ member.companyName }}
                    </td>
                    <td>{{ member.planName }}</td>
                    <td>{{ member.insuranceType }}</td>
                    <td>{{ member.planDuration }}</td>
                    <td>{{ member.planStartDate | date: "MM/dd/yyyy" }}</td>
                    <td>{{ member.planEndDate | date: "MM/dd/yyyy" }}</td>
                    <td>{{ member.isAcive === true ? "Yes" : "No" }}</td>

                    <td>
                      <button mat-icon-button class="tbl-action-btn">
                        <app-feather-icons
                          [icon]="'edit'"
                          [class]="'tbl-fav-edit'"
                          (click)="onEditClick(member, scroll(target))"
                        ></app-feather-icons>
                      </button>
                      <button mat-icon-button class="tbl-action-btn">
                        <app-feather-icons
                          mat-button
                          [icon]="'trash-2'"
                          [class]="'tbl-fav-delete'"
                          (click)="openDialog(member)"
                        ></app-feather-icons>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .addbenefitplan tbody {
    display: block;
    height: 500px;
    overflow: auto;
  }
  .addbenefitplan thead,
  .addbenefitplan tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
  }
  .addbenefitplan tbody::-webkit-scrollbar {
    display: none;
  }
  .addbenefitplan tbody {
    -ms-overflow-style: none;
  }
</style>
